.group-child48,
.group-child49 {
  position: absolute;
  top: 64px;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1115px;
  height: 1973px;
}
.group-child49 {
  top: 0;
  background-color: var(--color-powderblue-100);
  height: 203px;
  opacity: 0.3;
}
.group-child50,
.rectangle-input {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  border-radius: var(--br-6xs);
  opacity: 0.7;
}
.rectangle-input {
  border: 1px solid var(--color-steelblue-100);
  background-color: var(--color-aliceblue);
  width: 9.68%;
  right: 69.29%;
  left: 21.03%;
  box-sizing: border-box;
}
.group-child50 {
  width: 100%;
  right: 0;
  left: 0;
  background-color: var(--color-steelblue-100);
}
.initiate-a-copy1 {
  position: absolute;
  top: 33.56%;
  left: 26.34%;
  font-size: var(--font-size-smi);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.rectangle-parent18 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  left: calc(50% + 26.25px);
  width: 168.19px;
}
.group-child51,
.rectangle-parent18,
.rectangle-parent19 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.group-child51 {
  width: 100%;
  right: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-darkorange);
  opacity: 0.7;
}
.rectangle-parent19 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  left: calc(50% + 200.19px);
  width: 168.19px;
}
.selected-0-notes1 {
  margin: 0;
}
.selected-0-notes-container1 {
  position: absolute;
  top: 20.97%;
  left: 32.38%;
}
.one-click-betting1 {
  position: absolute;
  top: 33.56%;
  left: 19.51%;
  font-size: var(--font-size-smi);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.rectangle-parent20 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  width: 168.19px;
}
.bonus1,
.div115,
.div116 {
  position: absolute;
  top: 33.56%;
  left: 0;
}
.div115,
.div116 {
  top: 0;
  font-weight: 900;
}
.div116 {
  left: 96.56%;
  font-size: var(--font-size-3xs);
}
.lr-slider-child1,
.lr-slider-child2 {
  position: absolute;
  height: 18.18%;
  width: 19.32%;
  top: 61.9%;
  right: 72.05%;
  bottom: 19.92%;
  left: 8.63%;
  border-top: 1px solid var(--color-dimgray);
  box-sizing: border-box;
}
.lr-slider-child2 {
  width: 78.05%;
  right: 13.32%;
  opacity: 0.25;
}
.lr-slider-child3 {
  position: absolute;
  height: 59.78%;
  width: 4.52%;
  top: 37.36%;
  right: 68.38%;
  bottom: 2.85%;
  left: 27.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.lr-slider1 {
  position: absolute;
  top: calc(50% - 5.84px);
  left: 45.95px;
  width: 145.3px;
  height: 11px;
  font-size: var(--font-size-4xs);
}
.rectangle-parent17 {
  position: absolute;
  bottom: 16.32px;
  left: 19.69px;
  width: 1084.64px;
  height: 47.68px;
}
.group-child53,
.multiple2,
.the-amount1 {
  position: absolute;
  top: 40.64%;
  left: 0;
}
.group-child53,
.multiple2 {
  left: 83.23%;
}
.group-child53 {
  top: 0;
  left: 0;
  border-radius: var(--br-5xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  width: 124.71px;
  height: 39.46px;
}
.group-child54,
.group-child55 {
  position: absolute;
  top: -0.18px;
  left: 34.69px;
  border-right: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  width: 2px;
  height: 38.81px;
}
.group-child55 {
  left: 89.66px;
}
.div117,
.div118,
.div119 {
  position: absolute;
  top: 11.51px;
  left: 18.05px;
}
.div118,
.div119 {
  left: 59.07px;
}
.div119 {
  left: 101.74px;
}
.rectangle-parent21 {
  position: absolute;
  height: 50.11%;
  width: 11.33%;
  top: 25.4%;
  right: 0;
  bottom: 24.49%;
  left: 88.67%;
  font-size: var(--font-size-4xs);
}
.group-child56 {
  position: absolute;
  height: 99.81%;
  width: 99.89%;
  top: 0;
  right: 0.11%;
  bottom: 0.19%;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
}
.group-child57,
.group-child58 {
  height: 101.09%;
  width: 0.53%;
  top: -1.28%;
  bottom: 0.19%;
  border-right: 1px solid var(--color-dimgray);
  opacity: 0.3;
}
.group-child57 {
  position: absolute;
  right: 75.14%;
  left: 24.33%;
  box-sizing: border-box;
}
.group-child58 {
  right: 50.22%;
  left: 49.25%;
}
.group-child58,
.group-child59,
.group-child60 {
  position: absolute;
  box-sizing: border-box;
}
.group-child59 {
  height: 101.09%;
  width: 0.53%;
  top: -1.28%;
  right: 25.3%;
  bottom: 0.19%;
  left: 74.17%;
  border-right: 1px solid var(--color-dimgray);
  opacity: 0.3;
}
.group-child60 {
  height: 2.56%;
  width: 100.16%;
  top: 48.63%;
  right: 0;
  bottom: 48.82%;
  left: -0.16%;
  border-top: 1px solid var(--color-dimgray);
  opacity: 0.29;
}
.yuan2 {
  position: absolute;
  top: 34.21%;
  left: 32.61%;
  font-size: var(--font-size-2xs);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.yuan-frame {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-brown);
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xs) 0 0 0;
  width: 92px;
}
.yuan3 {
  position: absolute;
  top: 34.21%;
  left: 33.33%;
  font-size: var(--font-size-2xs);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.yuan-wrapper1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-brown);
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 94.5px);
  width: 93px;
}
.corners1 {
  position: absolute;
  top: 34.21%;
  left: 25.81%;
  font-size: var(--font-size-2xs);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.corners-container {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-brown);
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% + 0.5px);
  width: 93px;
}
.corner2 {
  position: absolute;
  top: 34.21%;
  left: 29.03%;
  font-size: var(--font-size-2xs);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.corner-frame {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 0 var(--br-6xs) 0 0;
  width: 93px;
}
.group-parent40 {
  position: absolute;
  width: calc(100% - 3.64px);
  top: 1.24px;
  right: 3.12px;
  left: 0.52px;
  height: 38px;
}
.div120 {
  top: 31.58%;
  left: 42.39%;
  font-size: var(--font-size-2xs);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
  transform: rotate(180deg);
}
.div120,
.div121,
.frame {
  position: absolute;
}
.frame {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-brown);
  height: 100%;
  top: 0;
  bottom: 0;
  left: 283px;
  border-radius: var(--br-6xs) 0 0 0;
  width: 92px;
}
.div121 {
  top: 31.58%;
  left: 43.01%;
  font-size: var(--font-size-2xs);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
  transform: rotate(180deg);
}
.wrapper1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-brown);
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% + 1.5px);
  width: 93px;
}
.point1 {
  position: absolute;
  top: 31.58%;
  left: 32.26%;
  font-size: var(--font-size-2xs);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
  transform: rotate(180deg);
}
.point-container {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-brown);
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 93.5px);
  width: 93px;
}
.minutes1 {
  position: absolute;
  top: 31.58%;
  left: 24.73%;
  font-size: var(--font-size-2xs);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
  transform: rotate(180deg);
}
.minutes-container {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  position: absolute;
  height: 100%;
  top: 0;
  right: 282px;
  bottom: 0;
  border-radius: 0 var(--br-6xs) 0 0;
  width: 93px;
}
.group-parent41 {
  position: absolute;
  width: calc(100% - 3.64px);
  right: 3.12px;
  bottom: 0;
  left: 0.52px;
  height: 38px;
  transform: rotate(180deg);
}
.rectangle-parent22 {
  position: absolute;
  height: calc(100% - 0.5px);
  top: 0;
  bottom: 0.5px;
  left: 72.2px;
  width: 378.64px;
}
.group-child61 {
  position: absolute;
  height: 99.18%;
  width: 99.89%;
  top: 0;
  right: 0.11%;
  bottom: 0.82%;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
}
.group-child62,
.group-child63 {
  height: 100.45%;
  width: 0.53%;
  top: -1.27%;
  bottom: 0.82%;
  border-right: 1px solid var(--color-dimgray);
  opacity: 0.3;
}
.group-child62 {
  position: absolute;
  right: 75.14%;
  left: 24.33%;
  box-sizing: border-box;
}
.group-child63 {
  right: 50.22%;
  left: 49.25%;
}
.group-child63,
.group-child64,
.group-child65 {
  position: absolute;
  box-sizing: border-box;
}
.group-child64 {
  height: 100.45%;
  width: 0.53%;
  top: -1.27%;
  right: 25.3%;
  bottom: 0.82%;
  left: 74.17%;
  border-right: 1px solid var(--color-dimgray);
  opacity: 0.3;
}
.group-child65 {
  height: 2.54%;
  width: 100.16%;
  top: 48.32%;
  right: 0;
  bottom: 49.14%;
  left: -0.16%;
  border-top: 1px solid var(--color-dimgray);
  opacity: 0.29;
}
.times6 {
  position: absolute;
  top: 31.58%;
  left: 29.35%;
  font-size: var(--font-size-2xs);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.times-wrapper4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-brown);
  position: absolute;
  height: calc(100% - 0.5px);
  top: 0.5px;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xs) 0 0 0;
  width: 92px;
}
.times7 {
  position: absolute;
  top: 31.58%;
  left: 25.81%;
  font-size: var(--font-size-2xs);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.times-wrapper5 {
  background-color: var(--color-brown);
  top: 0.5px;
  bottom: 0;
  left: calc(50% - 94.68px);
}
.corner-wrapper1,
.times-wrapper5,
.times-wrapper6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  position: absolute;
  height: calc(100% - 0.5px);
  width: 93px;
}
.times-wrapper6 {
  background-color: var(--color-brown);
  top: 0.5px;
  bottom: 0;
  left: calc(50% + 0.32px);
}
.corner-wrapper1 {
  background-color: var(--color-white);
  top: 0;
  right: 0;
  bottom: 0.5px;
  border-radius: 0 var(--br-6xs) 0 0;
}
.group-parent42 {
  position: absolute;
  width: calc(100% - 3.28px);
  top: 1.24px;
  right: 3.12px;
  left: 0.15px;
  height: 38.5px;
}
.stud1 {
  top: 31.58%;
  left: 38.04%;
  font-size: var(--font-size-2xs);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.group-parent43,
.stud1,
.times9 {
  position: absolute;
  transform: rotate(180deg);
}
.times9 {
  top: 31.58%;
  left: 22.58%;
  font-size: var(--font-size-2xs);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.group-parent43 {
  width: calc(100% - 3.64px);
  right: 3.49px;
  bottom: 0;
  left: 0.15px;
  height: 38px;
}
.rectangle-parent23 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 47.96px);
  width: 378.64px;
}
.the-amount-group {
  position: absolute;
  top: 24px;
  left: 3.28px;
  width: 1101.05px;
  height: 78.74px;
}
.group-child66,
.rectangle-parent16 {
  position: absolute;
  top: 1834px;
  left: 0;
  width: 1115px;
  height: 203px;
}
.group-child66 {
  top: 0;
  background-color: var(--color-white);
  box-shadow: 0-5px 14px rgba(0, 0, 0, 0.16);
  width: 1078.9px;
  height: 171.8px;
}
.group-child67 {
  position: absolute;
  top: 41.61px;
  left: -0.59px;
  border-top: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1079.9px;
  height: 2px;
  opacity: 0.15;
}
.group-child68 {
  position: absolute;
  top: 88.96px;
  left: 23.7px;
  width: 1022.29px;
  height: 4.29px;
  opacity: 0.15;
}
.color-species1,
.order-number1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 14px;
  text-transform: capitalize;
}
.color-species1 {
  left: 14.73%;
}
.bet-amount1,
.bet-status1,
.how-to-play1,
.issue1,
.operate1,
.winning-amount1 {
  position: absolute;
  top: 0;
  left: 29.35%;
  line-height: 14px;
  text-transform: capitalize;
}
.bet-amount1,
.bet-status1,
.issue1,
.operate1,
.winning-amount1 {
  left: 43.73%;
}
.bet-amount1,
.bet-status1,
.operate1,
.winning-amount1 {
  left: 52.82%;
}
.bet-status1,
.operate1,
.winning-amount1 {
  left: 65.78%;
}
.bet-status1,
.operate1 {
  left: 82.51%;
}
.operate1 {
  left: 95.34%;
}
.order-number-group {
  position: absolute;
  top: 60.12px;
  left: 25.38px;
  width: 987.32px;
  height: 15px;
}
.my-bet1,
.number-tracking-plan1 {
  position: absolute;
  top: 0;
  left: 38.4%;
  line-height: 14px;
  text-transform: capitalize;
}
.my-bet1 {
  left: 16.97%;
  font-size: var(--font-size-sm);
  line-height: 13px;
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: center;
}
.group-child69,
.my-bet-group {
  position: absolute;
  bottom: 0;
  left: 0;
}
.group-child69 {
  height: 10.53%;
  width: 100%;
  top: 89.47%;
  right: 0;
  background-color: var(--color-skyblue);
}
.my-bet-group {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 100%;
  top: 0;
  width: 64.82px;
}
.number-tracking-plan-group {
  position: absolute;
  top: 10.7px;
  left: 13.77px;
  width: 224.01px;
  height: 31.22px;
  font-size: var(--font-size-sm);
}
.rectangle-parent24 {
  position: absolute;
  top: 1661.3px;
  left: 17.23px;
  width: 1079.31px;
  height: 171.8px;
  text-align: center;
}
.group-child70 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
}
.bits-thousand,
.hundred3,
.ones-place,
.ten-thousand3,
.ten6 {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: capitalize;
}
.bits-thousand,
.hundred3,
.ones-place,
.ten6 {
  top: 77px;
}
.hundred3,
.ones-place,
.ten6 {
  top: 154px;
}
.ones-place,
.ten6 {
  top: 231px;
}
.ones-place {
  top: 308px;
}
.group-child71,
.ten-thousand-parent1 {
  position: absolute;
  height: 63.27%;
  width: 8.14%;
  top: 21.68%;
  right: 88.78%;
  bottom: 15.06%;
  left: 3.08%;
}
.group-child71 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.16);
  border: 1px solid var(--color-skyblue);
  box-sizing: border-box;
}
.complete {
  position: absolute;
  top: 33.18%;
  left: 16.15%;
  font-size: var(--font-size-2xs);
  text-transform: capitalize;
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.rectangle-parent26 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 68.1px;
}
.big {
  position: absolute;
  top: 33.18%;
  left: 32.65%;
  font-size: var(--font-size-2xs);
  text-transform: capitalize;
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.rectangle-parent27 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 93.47px);
  width: 45.95px;
}
.small {
  position: absolute;
  top: 33.18%;
  left: 19.59%;
  font-size: var(--font-size-2xs);
  text-transform: capitalize;
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.rectangle-parent28 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 38.47px);
  width: 45.95px;
}
.one {
  position: absolute;
  top: 33.18%;
  left: 28.29%;
  font-size: var(--font-size-2xs);
  text-transform: capitalize;
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.rectangle-parent29,
.rectangle-parent30 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% + 15.53px);
  width: 45.95px;
}
.rectangle-parent30 {
  left: calc(50% + 69.53px);
}
.clear {
  position: absolute;
  top: 33.18%;
  left: 23.94%;
  font-size: var(--font-size-2xs);
  text-transform: capitalize;
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.rectangle-parent31 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  width: 45.95px;
}
.group-parent44,
.group-parent45 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  height: 36.17px;
}
.group-parent44 {
  top: 0;
}
.group-parent45 {
  top: calc(50% - 100.58px);
}
.group-parent46 {
  top: calc(50% - 25.58px);
}
.group-parent46,
.group-parent47,
.group-parent48 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  height: 36.17px;
}
.group-parent47 {
  top: calc(50% + 49.42px);
}
.group-parent48 {
  bottom: 15px;
}
.repeat-grid-15 {
  position: absolute;
  right: 18.33px;
  bottom: 51.93px;
  width: 338.95px;
  height: 351.17px;
}
.expect3,
.issue-20230315-13613 {
  position: absolute;
  top: 31.37%;
  left: 17.97%;
}
.expect3 {
  top: 33.61%;
  left: 59.59%;
  font-size: var(--font-size-smi);
}
.group-child101 {
  position: absolute;
  height: 86.56%;
  width: 12.06%;
  top: 13.44%;
  right: 50.48%;
  bottom: 0;
  left: 37.46%;
  border-radius: var(--br-6xs);
  background-color: var(--color-whitesmoke-100);
}
.div122 {
  position: absolute;
  top: 26.88%;
  left: 38.42%;
  font-size: var(--font-size-17xl);
  font-weight: 500;
  font-family: var(--font-sf-digital-readout);
  color: var(--color-skyblue);
}
.group-child102 {
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
}
.div123 {
  position: absolute;
  top: 14px;
  left: 19px;
}
.ellipse-parent13 {
  position: absolute;
  height: 101.38%;
  width: 17.05%;
  top: 0;
  right: 82.95%;
  bottom: -1.38%;
  left: 0;
}
.ellipse-parent14,
.ellipse-parent15,
.ellipse-parent16,
.ellipse-parent17 {
  position: absolute;
  height: 101.38%;
  width: 17.05%;
  top: 0;
  right: 62.12%;
  bottom: -1.38%;
  left: 20.83%;
}
.ellipse-parent15,
.ellipse-parent16,
.ellipse-parent17 {
  right: 41.29%;
  left: 41.67%;
}
.ellipse-parent16,
.ellipse-parent17 {
  right: 20.45%;
  left: 62.5%;
}
.ellipse-parent17 {
  right: -0.38%;
  left: 83.33%;
}
.repeat-grid-143 {
  position: absolute;
  height: calc(100% - 0.25px);
  top: 0;
  right: 0;
  bottom: 0.25px;
  width: 264px;
  font-size: var(--font-size-mini);
}
.twenty-four {
  position: absolute;
  top: 292.48px;
  left: 258.15px;
}
.div128,
.twenty-four1 {
  position: absolute;
  top: 215.92px;
  left: 390.42px;
}
.div128 {
  top: 31.54%;
  left: 40.63%;
  font-size: var(--font-size-sm);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.ellipse-parent18 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.ellipse-parent18,
.ellipse-parent19,
.ellipse-parent20 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 44.3px;
}
.ellipse-parent19 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 52px;
}
.ellipse-parent20 {
  left: calc(50% - 153.15px);
}
.ellipse-parent20,
.ellipse-parent21,
.path-6-icon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.ellipse-parent21 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  left: calc(50% - 101.15px);
  width: 44.3px;
}
.path-6-icon {
  width: 100%;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ellipse-parent22,
.path-6-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 48.15px);
  width: 44.3px;
}
.ellipse-parent22 {
  left: calc(50% + 3.85px);
}
.ellipse-parent23 {
  left: calc(50% + 56.85px);
}
.ellipse-parent23,
.ellipse-parent24,
.ellipse-parent25,
.ellipse-parent26 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  width: 44.3px;
}
.ellipse-parent24 {
  left: calc(50% + 108.85px);
}
.ellipse-parent25,
.ellipse-parent26 {
  right: 52px;
}
.ellipse-parent26 {
  right: 0;
}
.group-parent50 {
  height: calc(100% - 15.45px);
  width: 100%;
  right: 0;
  bottom: 15.45px;
}
.div138,
.group-parent50 {
  position: absolute;
  top: 0;
  left: 0;
}
.div139,
.div140,
.div141 {
  position: absolute;
  top: 0;
  left: 10.77%;
}
.div140,
.div141 {
  left: 20.91%;
}
.div141 {
  left: 32.51%;
  color: var(--color-red-200);
}
.div142,
.div143 {
  position: absolute;
  top: 0;
  left: 42.65%;
}
.div143 {
  left: 54.24%;
  color: var(--color-dodgerblue);
}
.div144,
.div145 {
  position: absolute;
  top: 0;
  left: 64.39%;
}
.div145 {
  left: 75.16%;
}
.div146 {
  top: 0;
  left: 86.13%;
}
.div146,
.div147,
.parent {
  position: absolute;
}
.div147 {
  top: 0;
  left: 96.89%;
}
.parent {
  width: calc(100% - 33.3px);
  right: 14.3px;
  bottom: 0;
  left: 19px;
  height: 15px;
}
.group-parent49,
.group-parent51 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  height: 59.83px;
}
.group-parent49 {
  top: 0;
}
.group-parent51 {
  top: calc(50% - 109.42px);
}
.group-parent53 {
  top: calc(50% - 32.42px);
}
.group-parent53,
.group-parent55,
.group-parent57 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  height: 59.83px;
}
.group-parent55 {
  top: calc(50% + 44.58px);
}
.group-parent57 {
  bottom: 5px;
}
.repeat-grid-20 {
  position: absolute;
  top: 0;
  left: 0;
  width: 516.3px;
  height: 372.83px;
  font-size: var(--font-size-smi);
  color: var(--color-dimgray);
}
.twenty-four-parent {
  position: absolute;
  height: 72.8%;
  width: 47.24%;
  top: 18.94%;
  right: 40.17%;
  bottom: 8.25%;
  left: 12.58%;
  font-size: var(--font-size-xs);
  color: var(--color-red-100);
}
.vertical-select-all3 {
  position: absolute;
  top: 0;
  left: 19.7%;
}
.icon-ionic-ios-checkbox-outlin3 {
  position: absolute;
  height: 82.2%;
  width: 10.19%;
  top: 6.67%;
  right: 89.81%;
  bottom: 11.13%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vertical-select-all-parent1 {
  position: absolute;
  height: calc(100% - 2.62px);
  top: 0;
  bottom: 2.62px;
  left: 0;
  width: 120.79px;
}
.current-omission3,
.hot-and-cold3 {
  position: absolute;
  top: 11.35%;
  left: 78.93%;
}
.hot-and-cold3 {
  left: 93.02%;
}
.group-child152,
.group-child153 {
  cursor: pointer;
  position: absolute;
  height: 88.65%;
  width: 1.51%;
  top: 11.35%;
  right: 22.18%;
  bottom: 0;
  left: 76.31%;
  background-color: var(--color-white);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) inset;
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
}
.group-child153 {
  right: 8.1%;
  left: 90.39%;
}
.group-parent59 {
  position: absolute;
  width: calc(100% - 61.73px);
  top: 52.02px;
  right: 28.1px;
  left: 33.64px;
  height: 17.62px;
  font-size: var(--font-size-smi);
}
.rectangle-parent25 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 512.12px;
}
.hanoi-lottery {
  position: absolute;
  top: 31.37%;
  left: 0;
}
.hanoi-lottery-parent {
  position: absolute;
  width: calc(100% - 51.97px);
  top: 4.02px;
  right: 18.33px;
  left: 33.64px;
  height: 44.63px;
}
.rectangle-parent56 {
  position: absolute;
  width: 100%;
  top: calc(50% - 260.66px);
  right: 0;
  left: 0;
  height: 512.12px;
}
.ten-thousand-parent3 {
  position: absolute;
  height: 63.27%;
  width: 8.14%;
  top: 21.68%;
  right: 88.78%;
  bottom: 15.05%;
  left: 3.08%;
}
.rectangle-parent87 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 9.2px;
  left: 0;
  height: 512.12px;
}
.repeat-grid-16 {
  position: absolute;
  top: 73.98px;
  left: 11.49px;
  width: 1092.85px;
  height: 1587.32px;
  font-size: var(--font-size-sm);
}
.group-child322,
.group-child323 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-skyblue);
  width: 1115px;
  height: 64px;
}
.group-child323 {
  top: -11.03px;
  left: 275.67px;
  border-radius: var(--br-6xs);
  background-color: var(--color-steelblue-200);
  width: 159.99px;
  height: 36.17px;
  display: none;
}
.game-switch1 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child324,
.rectangle-parent119 {
  position: absolute;
  top: 25px;
  left: 658.83px;
  width: 75px;
  height: 15px;
}
.group-child324 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
}
.recommendation-21 {
  position: absolute;
  top: 32.78%;
  left: 17.48%;
  font-size: var(--font-size-xs);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.group-child325,
.rectangle-parent120 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.rectangle-parent120 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  left: calc(50% - 170.61px);
  width: 160.21px;
}
.group-child325 {
  width: 100%;
  right: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-skyblue);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) inset;
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
}
.custom-color1 {
  position: absolute;
  top: 30.26%;
  left: 25.59%;
  font-size: var(--font-size-smi);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.rectangle-parent121 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 160.21px;
}
.recommendation-11 {
  position: absolute;
  top: 30.26%;
  left: 14.98%;
  font-size: var(--font-size-smi);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.rectangle-parent122 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 350.61px);
  width: 160.21px;
}
.positioning-ball1 {
  position: absolute;
  top: 32.78%;
  left: 24.34%;
  font-size: var(--font-size-xs);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.rectangle-parent123 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% + 191.39px);
  width: 160.21px;
}
.dragon-and-tiger1 {
  position: absolute;
  top: 32.78%;
  left: 20.6%;
  font-size: var(--font-size-xs);
  text-transform: capitalize;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.path-7-group {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  width: 160.21px;
}
.group-parent92 {
  position: absolute;
  top: 12px;
  left: 25px;
  width: 1061.21px;
  height: 39.66px;
}
.rectangle-parent118,
.rectangle-parent15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1115px;
}
.rectangle-parent118 {
  height: 64px;
  color: var(--color-white);
}
.rectangle-parent15 {
  height: 2037px;
}
.multiple1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2037px;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-dimgray);
  font-family: var(--font-roboto);
}
