.group-child937 {
  position: absolute;
  top: 78px;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1115px;
  height: 709px;
}
.group-child938,
.group-child939 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-skyblue);
  width: 1115px;
  height: 78px;
}
.group-child939 {
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 159.99px;
  height: 44px;
}
.first-ball3 {
  position: absolute;
  top: 14px;
  left: 57px;
  font-size: var(--font-size-smi);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.rectangle-parent425 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 180px;
  width: 159.99px;
  height: 44px;
}
.to-integrate3 {
  position: absolute;
  top: 14.5px;
  left: 45.49px;
  font-size: var(--font-size-smi);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.group-child941,
.rectangle-parent426 {
  position: absolute;
  top: 0;
  left: 0;
  width: 159.99px;
  height: 44px;
}
.rectangle-parent426 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.group-child941 {
  border-radius: var(--br-6xs);
  background-color: var(--color-skyblue);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) inset;
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
}
.second-ball3 {
  position: absolute;
  top: 15px;
  left: 47px;
  font-size: var(--font-size-smi);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.rectangle-parent427 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 361px;
  width: 159.99px;
  height: 44px;
}
.third-ball4 {
  position: absolute;
  top: 13px;
  left: 54.97px;
  font-size: var(--font-size-smi);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.rectangle-parent428 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 541px;
  width: 159.99px;
  height: 44px;
}
.fourth-ball5 {
  position: absolute;
  top: 13px;
  left: 50.05px;
  font-size: var(--font-size-smi);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.rectangle-parent429 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 722px;
  width: 159.99px;
  height: 44px;
}
.dragon-tiger6 {
  position: absolute;
  top: 13px;
  left: 45.13px;
  font-size: var(--font-size-smi);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.rectangle-parent430 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 902px;
  width: 159.99px;
  height: 44px;
}
.group-parent132 {
  position: absolute;
  top: 17px;
  left: 25px;
  width: 1061.99px;
  height: 44px;
}
.group-child945,
.group-child946,
.rectangle-parent424 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1115px;
  height: 78px;
}
.group-child945,
.group-child946 {
  top: 135px;
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  height: 652px;
}
.group-child946 {
  top: 0;
  background-color: var(--color-white);
  height: 46px;
}
.second-ball4 {
  position: absolute;
  top: 14px;
  left: 516px;
}
.group-child947,
.rectangle-parent431 {
  position: absolute;
  top: 89px;
  left: 0;
  width: 1115px;
  height: 46px;
}
.group-child947 {
  top: 0;
  background-color: var(--color-white);
  width: 1113.36px;
  height: 50px;
}
.sum-dragon3 {
  position: absolute;
  top: 16.07px;
  left: 460px;
}
.rectangle-parent432 {
  position: absolute;
  top: 229px;
  left: 1px;
  width: 1113.36px;
  height: 50px;
}
.group-child948,
.group-child949 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1111.72px;
  height: 89.5px;
}
.group-child949 {
  height: 100%;
  width: 53.61%;
  right: 0;
  bottom: 0;
  left: 46.39%;
  border-radius: var(--br-6xs);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
}
.div726,
.group-child950 {
  position: absolute;
  top: 20%;
  left: 21.69%;
}
.group-child950 {
  height: 86.67%;
  width: 15.66%;
  top: 3.33%;
  right: 84.34%;
  bottom: 10%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child951,
.rectangle-parent433 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 166px;
  height: 30px;
}
.group-child951 {
  border: 1px solid var(--color-dimgray);
  background-color: var(--color-whitesmoke-100);
  height: 100%;
  width: 53.61%;
  top: 0;
  right: 0;
  left: 46.39%;
  border-radius: var(--br-6xs);
  box-sizing: border-box;
}
.rectangle-parent434 {
  position: absolute;
  top: 0;
  left: 0;
  width: 166px;
  height: 30px;
}
.line22,
.line23,
.line24,
.line25,
.line26 {
  position: absolute;
  height: 100%;
  width: 15.51%;
  top: 0;
  right: 84.49%;
  bottom: 0;
  left: 0;
}
.line23,
.line24,
.line25,
.line26 {
  right: 63.64%;
  left: 20.84%;
}
.line24,
.line25,
.line26 {
  right: 42.8%;
  left: 41.68%;
}
.line25,
.line26 {
  right: 21.96%;
  left: 62.52%;
}
.line26 {
  right: 1.12%;
  left: 83.36%;
}
.group-parent133,
.line-wrapper4,
.line21 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1070px;
  height: 70px;
}
.group-parent133,
.line-wrapper4 {
  top: 9.5px;
  left: 24.77px;
}
.group-parent133 {
  top: 135.5px;
  left: 1.23px;
  width: 1111.72px;
  height: 89px;
  text-align: left;
}
.rectangle-parent423 {
  position: absolute;
  height: 99.87%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0.13%;
  left: 0;
}
.group-child969,
.line-wrapper5 {
  position: absolute;
  box-sizing: border-box;
}
.group-child969 {
  width: calc(100% - 2.52px);
  right: 2.02px;
  bottom: -0.5px;
  left: 0.5px;
  border-top: 1px dashed var(--color-dimgray);
  height: 2px;
}
.line-wrapper5 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-dimgray);
}
.sum6 {
  margin: 0;
}
.div736,
.sum-sheet3 {
  position: absolute;
  top: 0;
  left: 0;
}
.div736 {
  top: 8px;
  left: 49.23px;
  font-size: var(--font-size-xs);
  text-align: left;
}
.group-child971 {
  border: 1px solid var(--color-dimgray);
  background-color: var(--color-whitesmoke-100);
  position: absolute;
  top: 0;
  left: 93.53px;
  border-radius: var(--br-6xs);
  box-sizing: border-box;
  width: 73.02px;
  height: 30px;
}
.sum-sheet-parent1 {
  position: absolute;
  top: 0;
  left: 456.71px;
  width: 166.55px;
  height: 30px;
  text-align: center;
}
.div737,
.sum-double3 {
  position: absolute;
  top: 1px;
  left: 0;
}
.div737 {
  top: 8px;
  left: 57.43px;
  text-align: left;
}
.group-child972 {
  border: 1px solid var(--color-dimgray);
  background-color: var(--color-whitesmoke-100);
  position: absolute;
  top: 0;
  left: 100.92px;
  border-radius: var(--br-6xs);
  box-sizing: border-box;
  width: 73.02px;
  height: 30px;
}
.sum-double-parent1 {
  position: absolute;
  top: 0;
  left: 658.54px;
  width: 173.94px;
  height: 30px;
  text-align: center;
  font-size: var(--font-size-xs);
}
.div738,
.sum-big3 {
  position: absolute;
  top: 6px;
  left: 0;
}
.div738 {
  left: 72.2px;
  font-size: var(--font-size-xs);
}
.group-child973,
.sum-big-parent1 {
  position: absolute;
  top: 0;
  height: 30px;
}
.group-child973 {
  border: 0;
  background-color: transparent;
  left: 122.25px;
  width: 73.02px;
}
.sum-big-parent1 {
  left: 0;
  width: 195.27px;
}
.div739,
.tiger47 {
  position: absolute;
  top: 8px;
  left: 0;
}
.div739 {
  left: 54.97px;
  font-size: var(--font-size-xs);
}
.group-child974 {
  border: 1px solid var(--color-dimgray);
  background-color: var(--color-whitesmoke-100);
  position: absolute;
  top: 0;
  left: 105.02px;
  border-radius: var(--br-6xs);
  box-sizing: border-box;
  width: 73.02px;
  height: 30px;
}
.line27,
.tiger-parent37 {
  position: absolute;
  top: 38px;
  left: 17.23px;
  width: 178.04px;
  height: 30px;
}
.line27 {
  top: 0;
  left: 0;
  width: 195.27px;
  height: 68px;
}
.div740,
.sum-small3 {
  position: absolute;
  top: 26.67%;
  left: 0;
}
.div740 {
  left: 39.92%;
  font-size: var(--font-size-xs);
}
.group-child975 {
  border: 1px solid var(--color-dimgray);
  background-color: var(--color-whitesmoke-100);
  position: absolute;
  height: 100%;
  width: 37.39%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 62.61%;
  border-radius: var(--br-6xs);
  box-sizing: border-box;
}
.and41,
.div741,
.group-child976 {
  position: absolute;
  top: 20%;
  left: 0;
}
.div741,
.group-child976 {
  left: 35.51%;
}
.group-child976 {
  border: 1px solid var(--color-dimgray);
  background-color: var(--color-whitesmoke-100);
  height: 100%;
  width: 41.59%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 58.41%;
  border-radius: var(--br-6xs);
  box-sizing: border-box;
}
.and-parent29 {
  position: absolute;
  bottom: 0;
  left: 19.69px;
  width: 175.58px;
  height: 30px;
}
.group-parent137 {
  position: absolute;
  top: 0;
  left: 214.68px;
  width: 195.27px;
  height: 68px;
}
.div742 {
  position: absolute;
  top: 8px;
  left: 61.53px;
  font-size: var(--font-size-xs);
}
.dragon-parent45,
.group-child977 {
  position: absolute;
  top: 0;
  height: 30px;
}
.group-child977 {
  border: 1px solid var(--color-dimgray);
  background-color: var(--color-whitesmoke-100);
  left: 103.38px;
  border-radius: var(--br-6xs);
  box-sizing: border-box;
  width: 73.02px;
}
.dragon-parent45 {
  left: 915.35px;
  width: 176.4px;
}
.group-parent135,
.group-parent136 {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 1091.75px;
  height: 68px;
}
.group-parent135 {
  height: 97.8%;
  width: 99.71%;
  top: 0;
  right: 0.29%;
  bottom: 2.2%;
  left: 0;
}
.group-parent134 {
  position: absolute;
  width: 100%;
  top: calc(50% - 115px);
  right: 0;
  left: 0;
  height: 91px;
  text-align: left;
  font-size: var(--font-size-smi);
}
.group-child978 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1110.95px;
  height: 50px;
}
.top-three3 {
  position: absolute;
  top: 16px;
  left: 523px;
}
.rectangle-parent443 {
  position: absolute;
  height: 48.54%;
  width: 99.64%;
  top: 0;
  right: 0.18%;
  bottom: 51.46%;
  left: 0.18%;
}
.group-child979,
.group-child980 {
  position: absolute;
  box-sizing: border-box;
}
.group-child979 {
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-dimgray);
  width: 1115px;
  height: 53px;
}
.group-child980 {
  top: 51.5px;
  left: 0.23px;
  border-top: 1px dashed var(--color-dimgray);
  width: 1112.72px;
  height: 2px;
}
.path-1-icon9,
.rectangle-parent444 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1115px;
  height: 53px;
}
.path-1-icon9 {
  top: 49px;
  left: -0.5px;
  width: 1112.54px;
  height: 1px;
}
.div744,
.group-child981 {
  position: absolute;
  top: 6px;
  left: 56px;
}
.group-child981 {
  border: 1px solid var(--color-dimgray);
  background-color: var(--color-whitesmoke-100);
  top: 0;
  left: 93px;
  border-radius: var(--br-6xs);
  box-sizing: border-box;
  width: 73px;
  height: 30px;
}
.leopard-parent7 {
  position: absolute;
  top: 10.5px;
  left: 4.59px;
  width: 166px;
  height: 30px;
}
.div745,
.group-child982 {
  position: absolute;
  top: 6px;
  left: 62px;
}
.group-child982 {
  border: 1px solid var(--color-dimgray);
  background-color: var(--color-whitesmoke-100);
  top: 0;
  left: 113px;
  border-radius: var(--br-6xs);
  box-sizing: border-box;
  width: 73px;
  height: 30px;
}
.shun-zi-parent7 {
  position: absolute;
  top: 10.5px;
  left: 229.59px;
  width: 186px;
  height: 30px;
}
.div746,
.group-child983 {
  position: absolute;
  top: 6px;
  left: 37px;
}
.group-child983 {
  border: 1px solid var(--color-dimgray);
  background-color: var(--color-whitesmoke-100);
  top: 0;
  left: 98px;
  border-radius: var(--br-6xs);
  box-sizing: border-box;
  width: 73px;
  height: 30px;
}
.pair-parent7 {
  position: absolute;
  top: 10.5px;
  left: 467.59px;
  width: 171px;
  height: 30px;
}
.div747 {
  position: absolute;
  top: 10px;
  left: 58px;
  text-align: left;
}
.group-child984 {
  border: 1px solid var(--color-dimgray);
  background-color: var(--color-whitesmoke-100);
  position: absolute;
  top: 4px;
  left: 118px;
  border-radius: var(--br-6xs);
  box-sizing: border-box;
  width: 73px;
  height: 30px;
}
.half-straight-parent8 {
  position: absolute;
  top: 6.5px;
  left: 673.59px;
  width: 191px;
  height: 34px;
  text-align: center;
}
.div748 {
  position: absolute;
  top: 10px;
  left: 96px;
}
.miscellaneous-six9 {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}
.group-child985 {
  border: 1px solid var(--color-dimgray);
  background-color: var(--color-whitesmoke-100);
  position: absolute;
  top: 4px;
  left: 138px;
  border-radius: var(--br-6xs);
  box-sizing: border-box;
  width: 73px;
  height: 30px;
}
.parent87 {
  position: absolute;
  top: 6.5px;
  left: 895.59px;
  width: 211px;
  height: 34px;
}
.group-child986,
.group-child987,
.group-child988,
.group-child989 {
  position: absolute;
  top: -1px;
  left: 220.69px;
  border-right: 1px dashed var(--color-dimgray);
  box-sizing: border-box;
  width: 2px;
  height: 51px;
}
.group-child987,
.group-child988,
.group-child989 {
  top: -0.5px;
  left: 663.59px;
  height: 50px;
}
.group-child988,
.group-child989 {
  left: 435.59px;
}
.group-child989 {
  left: 887.59px;
}
.path-1-parent7 {
  position: absolute;
  top: 1.5px;
  left: 0.41px;
  width: 1112.54px;
  height: 50px;
}
.div743,
.group-parent138 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.group-parent138 {
  height: 51.46%;
  top: 48.54%;
  bottom: 0;
  text-align: left;
  font-size: var(--font-size-smi);
}
.div743 {
  top: 0;
  height: 103px;
}
.middle-three3 {
  position: absolute;
  top: 16px;
  left: 509px;
}
.div749 {
  position: absolute;
  width: 100%;
  top: calc(50% - 51.5px);
  right: 0;
  left: 0;
  height: 103px;
}
.after-three3 {
  position: absolute;
  top: 16px;
  left: 515px;
}
.div755,
.repeat-grid-83 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  height: 103px;
}
.repeat-grid-83 {
  bottom: 113px;
  height: 309px;
}
.group-child1014,
.group-child1015 {
  left: 0;
  background-color: var(--color-powderblue-100);
  box-sizing: border-box;
}
.group-child1014 {
  position: absolute;
  height: 13.32%;
  width: 100%;
  top: 86.68%;
  right: 0;
  bottom: 0;
  border: 1px solid var(--color-dimgray);
  opacity: 0.3;
}
.group-child1015 {
  border-radius: var(--br-6xs);
  border: 1px solid var(--color-steelblue-100);
  width: 319.98px;
}
.group-child1015,
.group-child1016,
.group-child1017 {
  position: absolute;
  top: 0;
  height: 58px;
}
.group-child1016 {
  left: 50.87px;
  background-color: var(--color-skyblue);
  box-shadow: 0 9px 6px rgba(0, 0, 0, 0.16) inset;
  width: 54.97px;
}
.group-child1017 {
  left: 0;
  border-radius: var(--br-6xs) 0 0 var(--br-6xs);
  background-color: var(--color-white);
  width: 50.87px;
  opacity: 0;
}
.fast10 {
  position: absolute;
  top: 20px;
  left: 13.95px;
  font-size: var(--font-size-xs);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.group-child1018,
.rectangle-parent450 {
  position: absolute;
  top: 0;
  left: 0;
  height: 58px;
}
.rectangle-parent450 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 50.87px;
}
.group-child1018 {
  background-color: var(--color-white);
  width: 53.33px;
  opacity: 0;
}
.div761 {
  position: absolute;
  top: 20px;
  left: 14.77px;
  font-size: var(--font-size-smi);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.rectangle-parent451 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 51.69px;
  width: 53.33px;
  height: 58px;
}
.div762 {
  position: absolute;
  top: 20px;
  left: 11.49px;
  font-size: var(--font-size-smi);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.rectangle-parent452 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 105.84px;
  width: 53.33px;
  height: 58px;
}
.group-child1020 {
  position: absolute;
  top: 11.5px;
  left: 158.58px;
  border-right: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 2px;
  height: 33px;
}
.div763 {
  position: absolute;
  top: 20px;
  left: 12.31px;
  font-size: var(--font-size-smi);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.rectangle-parent453 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 159.17px;
  width: 53.33px;
  height: 58px;
}
.group-child1022 {
  position: absolute;
  top: 11.5px;
  left: 211.91px;
  border-right: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 2px;
  height: 33px;
}
.rectangle-parent454 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 212.5px;
  width: 53.33px;
  height: 58px;
}
.group-child1024 {
  position: absolute;
  top: 11.5px;
  left: 265.24px;
  border-right: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 2px;
  height: 33px;
}
.rectangle-parent455 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1px;
  left: 266.65px;
  width: 53.33px;
  height: 58px;
}
.but-line-child5,
.rectangle-parent449 {
  position: absolute;
  top: 0;
  left: 0;
  width: 319.98px;
  height: 59px;
}
.but-line-child5 {
  border: 0;
  background-color: transparent;
  top: 1px;
  left: 414.33px;
  width: 105.02px;
  height: 58px;
}
.span10 {
  color: var(--color-red-200);
}
.rmb-00007 {
  position: absolute;
  top: 0;
  left: 53.33px;
}
.balance-parent5,
.group-child1026 {
  position: absolute;
  top: 20px;
  left: 659.65px;
  width: 116.33px;
  height: 15px;
}
.group-child1026 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-steelblue-100);
  box-sizing: border-box;
  opacity: 0.7;
}
.clear-selection8 {
  position: absolute;
  top: 37.93%;
  left: 24.97%;
  font-size: var(--font-size-smi);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
  opacity: 0.5;
}
.rectangle-parent456 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1px;
  right: 0;
  width: 168.19px;
  height: 58px;
}
.bet-now10 {
  position: absolute;
  top: 32.76%;
  left: 28.12%;
  font-size: var(--font-size-smi);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
  opacity: 0.5;
}
.rectangle-parent457 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1px;
  left: 797.48px;
  width: 105.02px;
  height: 58px;
}
.but-line7 {
  position: absolute;
  height: 7.49%;
  width: 96.88%;
  top: 89.72%;
  right: 1.87%;
  bottom: 2.79%;
  left: 1.25%;
  text-align: left;
  font-size: var(--font-size-smi);
}
.group-parent131 {
  position: absolute;
  top: -1px;
  left: 0;
  width: 1115px;
  height: 788px;
}
.web-1920-3 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 787px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-dimgray);
  font-family: var(--font-roboto);
}
