.group-child766 {
  position: absolute;
  height: 91.09%;
  width: 100%;
  top: 8.91%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
}
.group-child767,
.group-child768 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-skyblue);
  width: 1115px;
  height: 70.16px;
}
.group-child768 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-6xs);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) inset;
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
}
.all-colors2 {
  position: absolute;
  top: 30.26%;
  left: 32.46%;
  font-size: var(--font-size-smi);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.rectangle-parent332 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 15px;
  left: 204px;
  width: 160.21px;
  height: 39.66px;
}
.group-child769 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
}
.current-color2 {
  position: absolute;
  top: 30.26%;
  left: 26.84%;
  font-size: var(--font-size-smi);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.rectangle-parent333 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 15px;
  left: 23px;
  width: 160.21px;
  height: 39.66px;
}
.constant-color2 {
  position: absolute;
  top: 32.78%;
  left: 26.22%;
  font-size: var(--font-size-xs);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.rectangle-parent334 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 15px;
  left: 385px;
  width: 160.21px;
  height: 39.66px;
}
.customize2 {
  position: absolute;
  top: 32.78%;
  left: 33.08%;
  font-size: var(--font-size-xs);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.rectangle-parent335 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 15px;
  left: 566px;
  width: 160.21px;
  height: 39.66px;
}
.rectangle-parent331 {
  position: absolute;
  height: 8.91%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 91.09%;
  left: 0;
}
.group-child772 {
  position: absolute;
  top: 28.72px;
  left: -1px;
  border-top: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1082.08px;
  height: 2px;
  opacity: 0.4;
}
.consecutive-period2,
.type-of-play2 {
  position: absolute;
  top: 0;
  left: 51.82px;
}
.consecutive-period2 {
  left: 237.04px;
  font-size: var(--font-size-smi);
}
.chasing-the-dragon2,
.cover-time2 {
  position: absolute;
  top: 0;
  left: 484.3px;
}
.chasing-the-dragon2 {
  left: 818.62px;
  font-size: var(--font-size-smi);
}
.line-parent1,
.zhanlong2 {
  position: absolute;
  top: 0;
  left: 979.75px;
}
.line-parent1 {
  height: 3.78%;
  width: 96.96%;
  top: 10.34%;
  right: 1.46%;
  bottom: 85.89%;
  left: 1.58%;
}
.group-child773 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1080.74px;
  height: 549.07px;
}
.tencent-lottery16 {
  margin: 0;
}
.tencent-lottery-first-ball-container12 {
  position: absolute;
  top: 13px;
  left: 19.41px;
  line-height: 17px;
}
.issues-in-a-container12 {
  position: absolute;
  top: 21px;
  left: 237.04px;
  font-size: var(--font-size-smi);
}
.group-child774 {
  position: absolute;
  top: 74.92px;
  left: -1px;
  border-top: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1082.08px;
  height: 2px;
  opacity: 0.4;
}
.group-child775 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-whitesmoke-100);
  width: 162.99px;
  height: 56.94px;
}
.b12 {
  position: absolute;
  top: 16px;
  left: 41px;
  line-height: 18px;
}
.rectangle-parent337 {
  position: absolute;
  top: 0;
  left: 434.36px;
  width: 162.99px;
  height: 56.94px;
  font-size: var(--font-size-xl);
  color: var(--color-skyblue);
}
.div652,
.dragon40 {
  position: absolute;
  top: calc(50% - 9.5px);
  font-size: var(--font-size-base);
  font-family: var(--font-roboto);
  text-align: center;
}
.dragon40 {
  left: 7px;
  color: var(--color-dimgray);
}
.div652 {
  right: 7px;
  color: var(--color-skyblue);
}
.dragon-parent38 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-whitesmoke-100);
  position: absolute;
  top: 13px;
  left: 787.36px;
  border-radius: var(--br-6xs);
  width: 113px;
  height: 31px;
}
.div653,
.tiger40 {
  position: absolute;
  top: calc(50% - 9.5px);
  font-size: var(--font-size-base);
  font-family: var(--font-roboto);
  text-align: center;
}
.tiger40 {
  left: 14px;
  color: var(--color-dimgray);
}
.div653 {
  right: 11px;
  color: var(--color-skyblue);
}
.tiger-parent30 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-whitesmoke-100);
  position: absolute;
  top: 13px;
  right: 19.72px;
  border-radius: var(--br-6xs);
  width: 114px;
  height: 31px;
}
.tencent-lottery-first-ball-odd-parent10,
.tencent-lottery-first-ball-odd-parent11 {
  position: absolute;
  height: 14.23%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 85.77%;
  left: 0;
}
.tencent-lottery-first-ball-odd-parent11 {
  top: 17.62%;
  bottom: 68.15%;
}
.tencent-lottery-first-ball-odd-parent12,
.tencent-lottery-first-ball-odd-parent13 {
  position: absolute;
  height: 14.23%;
  width: 100%;
  top: 35.24%;
  right: 0;
  bottom: 50.52%;
  left: 0;
}
.tencent-lottery-first-ball-odd-parent13 {
  top: 52.87%;
  bottom: 32.9%;
}
.tencent-lottery-first-ball-odd-parent14,
.tencent-lottery-first-ball-odd-parent15 {
  position: absolute;
  height: 14.23%;
  width: 100%;
  top: 70.49%;
  right: 0;
  bottom: 15.28%;
  left: 0;
}
.tencent-lottery-first-ball-odd-parent15 {
  top: 88.11%;
  bottom: -2.34%;
}
.repeat-grid-9 {
  position: absolute;
  top: 12.95px;
  left: 0.04px;
  width: 1081.08px;
  height: 533.42px;
}
.rectangle-parent336 {
  position: absolute;
  height: 69.77%;
  width: 96.96%;
  top: 15.76%;
  right: 1.46%;
  bottom: 14.47%;
  left: 1.58%;
}
.group-child786,
.group-child787 {
  left: 0;
  background-color: var(--color-powderblue-100);
  box-sizing: border-box;
}
.group-child786 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--color-dimgray);
  opacity: 0.3;
}
.group-child787 {
  border-radius: var(--br-6xs);
  border: 1px solid var(--color-steelblue-100);
  width: 319.98px;
}
.group-child787,
.group-child788,
.group-child789 {
  position: absolute;
  top: 0;
  height: 52.17px;
}
.group-child788 {
  left: 50.87px;
  background-color: var(--color-skyblue);
  box-shadow: 0 9px 6px rgba(0, 0, 0, 0.16) inset;
  width: 54.97px;
}
.group-child789 {
  left: 0;
  border-radius: var(--br-6xs) 0 0 var(--br-6xs);
  background-color: var(--color-white);
  width: 50.87px;
  opacity: 0;
}
.fast7 {
  position: absolute;
  top: 17.99px;
  left: 13.95px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.group-child790,
.rectangle-parent345 {
  position: absolute;
  top: 0;
  left: 0;
  height: 52.17px;
}
.rectangle-parent345 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 50.87px;
}
.group-child790 {
  background-color: var(--color-white);
  width: 53.33px;
  opacity: 0;
}
.div664 {
  position: absolute;
  top: 17.99px;
  left: 14.77px;
  font-size: var(--font-size-2xs);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.rectangle-parent346 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 51.69px;
  width: 53.33px;
  height: 52.17px;
}
.div665 {
  position: absolute;
  top: 17.99px;
  left: 11.49px;
  font-size: var(--font-size-2xs);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.rectangle-parent347 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 105.84px;
  width: 53.33px;
  height: 52.17px;
}
.group-child792 {
  position: absolute;
  top: 10.24px;
  left: 158.58px;
  border-right: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 2px;
  height: 29.78px;
}
.div666 {
  position: absolute;
  top: 17.99px;
  left: 12.31px;
  font-size: var(--font-size-2xs);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.rectangle-parent348 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 159.17px;
  width: 53.33px;
  height: 52.17px;
}
.group-child794 {
  position: absolute;
  top: 10.24px;
  left: 211.91px;
  border-right: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 2px;
  height: 29.78px;
}
.rectangle-parent349 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 212.5px;
  width: 53.33px;
  height: 52.17px;
}
.group-child796 {
  position: absolute;
  top: 10.24px;
  left: 265.24px;
  border-right: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 2px;
  height: 29.78px;
}
.rectangle-parent350 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0.9px;
  left: 266.65px;
  width: 53.33px;
  height: 52.17px;
}
.but-line-child2,
.rectangle-parent344 {
  position: absolute;
  top: 0;
  left: 0;
  width: 319.98px;
  height: 53.07px;
}
.but-line-child2 {
  border: 0;
  background-color: transparent;
  top: 0.9px;
  left: 414.33px;
  width: 105.02px;
  height: 52.17px;
}
.balance4 {
  position: absolute;
  top: 0;
  left: 0;
}
.span7 {
  color: var(--color-red-200);
}
.rmb-00004 {
  position: absolute;
  top: 0;
  left: 53.33px;
}
.balance-parent2,
.group-child798 {
  position: absolute;
  top: 17.99px;
  left: 659.65px;
  width: 107.33px;
  height: 13px;
}
.group-child798 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-darkorange);
  opacity: 0.7;
}
.clear-selection5 {
  position: absolute;
  top: 36.49%;
  left: 24.97%;
  font-size: var(--font-size-smi);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.group-child799,
.rectangle-parent351 {
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 0;
}
.rectangle-parent351 {
  border: 0;
  background-color: transparent;
  top: 0.85px;
  width: 168.19px;
  height: 52.07px;
}
.group-child799 {
  border: 1px solid var(--color-steelblue-100);
  background-color: var(--color-whitesmoke-100);
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xs);
  box-sizing: border-box;
  opacity: 0.7;
}
.bet-now7 {
  position: absolute;
  top: 36.49%;
  left: 28.57%;
  opacity: 0.5;
}
.rectangle-parent352 {
  position: absolute;
  top: 0.85px;
  left: 797.05px;
  width: 105.02px;
  height: 52.07px;
  font-size: var(--font-size-smi);
}
.but-line4 {
  position: absolute;
  height: 56.12%;
  width: 96.88%;
  top: 22.96%;
  right: 1.87%;
  bottom: 20.93%;
  left: 1.25%;
}
.rectangle-parent343 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  height: 94.56px;
  text-align: left;
  font-size: var(--font-size-2xs);
}
.rectangle-parent330 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1115px;
  height: 787px;
}
.web-1920-8 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 787px;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-dimgray);
  font-family: var(--font-roboto);
}
