.group-child471 {
  position: absolute;
  top: 62.38px;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1115px;
  height: 724.62px;
}
.group-child472,
.group-child473 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-skyblue);
  width: 1115px;
  height: 62.38px;
}
.group-child473 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
}
.dragon-tiger2 {
  position: absolute;
  top: 30.26%;
  left: 24.97%;
  font-size: var(--font-size-sm);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.group-child474,
.rectangle-parent183 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.rectangle-parent183 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 160.21px;
}
.group-child474 {
  width: 100%;
  right: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-skyblue);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) inset;
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
}
.double-sided1 {
  position: absolute;
  top: 30.26%;
  left: 24.34%;
  font-size: var(--font-size-sm);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.group-child475,
.rectangle-parent184 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.rectangle-parent184 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  left: calc(50% - 80.11px);
  width: 160.21px;
}
.group-child475 {
  width: 100%;
  right: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
}
.digital-disk1 {
  position: absolute;
  top: 30.26%;
  left: 28.09%;
  font-size: var(--font-size-sm);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.rectangle-parent185 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  width: 160.21px;
}
.group-parent104 {
  position: absolute;
  top: 11px;
  left: 25px;
  width: 520.21px;
  height: 39.66px;
}
.group-child476,
.rectangle-parent182 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1115px;
  height: 62.38px;
}
.group-child476 {
  top: 97.77px;
  left: 16.64px;
  border-top: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1082.36px;
  height: 2px;
  opacity: 0.4;
}
.how-to-play4 {
  position: absolute;
  top: 3px;
  left: 36.84px;
}
.icon-awesome-question-circle1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 22.1px;
  height: 21.54px;
}
.group-child477,
.how-to-play-group {
  position: absolute;
  top: 70px;
  left: 18.97px;
  width: 108.84px;
  height: 21.54px;
}
.group-child477 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 254.34px;
  height: 372.71px;
}
.ten-thousands-bits4 {
  position: absolute;
  top: 10.2px;
  left: 68px;
  font-size: var(--font-size-sm);
  line-height: 15px;
  color: var(--color-dimgray);
}
.big19,
.div514 {
  position: absolute;
  top: 10%;
  left: 0;
  line-height: 15px;
}
.div514 {
  left: 29.58%;
  color: var(--color-skyblue);
}
.group-child478 {
  position: absolute;
  height: 100%;
  width: 41%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 59%;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
}
.big-parent2 {
  position: absolute;
  top: 59.63px;
  left: 16px;
  width: 222.14px;
  height: 30px;
  color: var(--color-dimgray);
}
.div515,
.one23 {
  position: absolute;
  top: 13.33%;
  left: 29.58%;
  line-height: 15px;
}
.one23 {
  left: 0;
  line-height: 14px;
  color: var(--color-dimgray);
}
.parent41,
.parent42,
.parent43,
.parent44 {
  position: absolute;
  top: 142.63px;
  left: 16px;
  width: 222.14px;
  height: 30px;
}
.parent42,
.parent43,
.parent44 {
  top: 227.63px;
}
.parent43,
.parent44 {
  top: 99.63px;
}
.parent44 {
  top: 184.63px;
}
.quality4 {
  position: absolute;
  top: 13.33%;
  left: 0;
  line-height: 15px;
  color: var(--color-dimgray);
}
.parent45,
.parent46 {
  position: absolute;
  left: 16px;
  width: 222.14px;
  height: 30px;
}
.parent45 {
  top: 269.63px;
}
.parent46 {
  bottom: 31.08px;
}
.rectangle-parent186 {
  position: absolute;
  height: 100%;
  width: 23.39%;
  top: 0;
  right: 76.61%;
  bottom: 0;
  left: 0;
}
.rectangle-parent187,
.rectangle-parent188,
.rectangle-parent189 {
  position: absolute;
  height: 100%;
  width: 23.39%;
  top: 0;
  right: 51.32%;
  bottom: 0;
  left: 25.29%;
}
.rectangle-parent188,
.rectangle-parent189 {
  right: 26.03%;
  left: 50.58%;
}
.rectangle-parent189 {
  right: 0.74%;
  left: 75.87%;
}
.repeat-grid-121 {
  position: absolute;
  top: 110.37px;
  left: 17px;
  width: 1087.34px;
  height: 372.71px;
  color: var(--color-skyblue);
}
.group-child509 {
  position: absolute;
  top: 149.76px;
  left: 16.64px;
  border-top: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 255.34px;
  height: 2px;
  opacity: 0.15;
}
.group-child510,
.path-5-icon {
  position: absolute;
  top: 150.26px;
  left: 546.33px;
  width: 0;
  height: 0;
  opacity: 0.15;
}
.group-child510 {
  top: 149.76px;
  left: 840.79px;
  border-top: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 255.34px;
  height: 2px;
}
.group-child511,
.group-child512,
.rectangle-wrapper {
  position: absolute;
  left: 0;
  width: 1115px;
  height: 123.17px;
}
.group-child511 {
  top: 0;
  background-color: var(--color-powderblue-100);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  opacity: 0.3;
}
.group-child512,
.rectangle-wrapper {
  top: 663.03px;
}
.group-child512 {
  top: 0;
  background-color: var(--color-white);
  width: 1078.9px;
  height: 167.16px;
}
.group-child513 {
  position: absolute;
  top: 40.19px;
  left: -0.59px;
  border-top: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1079.9px;
  height: 2px;
  opacity: 0.15;
}
.group-child514 {
  position: absolute;
  top: 86.28px;
  left: 23.7px;
  width: 1022.29px;
  height: 4.2px;
  opacity: 0.15;
}
.my-bet3,
.number-tracking-plan3 {
  position: absolute;
  top: 12.2px;
  left: 26.77px;
  font-size: var(--font-size-smi);
  line-height: 14px;
}
.number-tracking-plan3 {
  left: 94.58px;
  line-height: 15px;
}
.color-species3,
.order-number3 {
  position: absolute;
  top: 58.38px;
  left: 25.77px;
  line-height: 15px;
  text-transform: capitalize;
}
.color-species3 {
  left: 172.77px;
}
.bet-amount3,
.bet-status3,
.how-to-play5,
.issue3,
.operate3,
.winning-amount3 {
  position: absolute;
  top: 58.38px;
  left: 317.77px;
  line-height: 15px;
  text-transform: capitalize;
}
.bet-amount3,
.bet-status3,
.issue3,
.operate3,
.winning-amount3 {
  left: 454.77px;
}
.bet-amount3,
.bet-status3,
.operate3,
.winning-amount3 {
  left: 547.77px;
}
.bet-status3,
.operate3,
.winning-amount3 {
  left: 681.77px;
}
.bet-status3,
.operate3 {
  left: 844.77px;
}
.operate3 {
  left: 967.77px;
}
.group-child515 {
  position: absolute;
  top: 37.59px;
  left: 13.77px;
  background-color: var(--color-skyblue);
  width: 64.82px;
  height: 3.2px;
}
.rectangle-parent190 {
  position: absolute;
  top: 495.87px;
  left: 17.23px;
  width: 1079.31px;
  height: 167.16px;
  font-size: var(--font-size-sm);
}
.group-child516,
.group-child517 {
  position: absolute;
  top: 149.76px;
  left: 565.79px;
  border-top: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 255.34px;
  height: 2px;
  opacity: 0.15;
}
.group-child517 {
  left: 291.49px;
}
.group-child518,
.rectangle-parent181 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1115px;
  height: 787px;
}
.group-child518 {
  border: 1px solid var(--color-steelblue-100);
  background-color: var(--color-powderblue-200);
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-6xs);
  box-sizing: border-box;
  opacity: 0.7;
}
.div542 {
  position: absolute;
  top: 34.49%;
  left: 39.99%;
}
.rectangle-parent191 {
  position: absolute;
  bottom: 6.61px;
  left: calc(50% - 130.97px);
  width: 105.02px;
  height: 46.39px;
}
.span2 {
  color: var(--color-red-200);
}
.balance-rmb-0000-container1 {
  position: absolute;
  top: 0;
  left: 71.17%;
  font-size: var(--font-size-3xs);
}
.group-child519 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-skyblue);
  border: 1px solid var(--color-steelblue-100);
  box-sizing: border-box;
}
.bet-now2 {
  position: absolute;
  top: 34.49%;
  left: 26.66%;
  font-size: var(--font-size-smi);
  text-transform: capitalize;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.rectangle-parent192 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  bottom: 6.61px;
  left: calc(50% + 37.03px);
  width: 105.02px;
  height: 46.39px;
}
.group-child520 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-darkorange);
  opacity: 0.7;
}
.chasing-number1 {
  position: absolute;
  top: 34.49%;
  left: 20.81%;
  font-size: var(--font-size-smi);
  text-transform: capitalize;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.rectangle-parent193 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  bottom: 6.61px;
  left: calc(50% + 152.03px);
  width: 168.19px;
  height: 46.39px;
}
.group-child521 {
  position: absolute;
  height: 99.97%;
  width: 99.6%;
  top: 0.03%;
  right: 0.23%;
  bottom: 0;
  left: 0.17%;
  border-radius: var(--br-6xs);
  background-color: var(--color-skyblue);
  border: 1px solid var(--color-steelblue-100);
  box-sizing: border-box;
}
.shopping-basket1 {
  position: absolute;
  top: 30.18%;
  left: 21.79%;
  font-size: var(--font-size-smi);
  text-transform: capitalize;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.icon-awesome-shopping-cart1 {
  position: absolute;
  height: 34.48%;
  width: 13.47%;
  top: 30.18%;
  right: 82.7%;
  bottom: 35.34%;
  left: 3.82%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.36;
}
.shopping-basket-group {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  position: absolute;
  height: calc(100% - 0.01px);
  top: 0;
  right: 0;
  bottom: 0.01px;
  border-radius: 0 var(--br-6xs) var(--br-6xs) 0;
  width: 137px;
}
.join-in1 {
  position: absolute;
  top: 30.18%;
  left: 28.19%;
  font-size: var(--font-size-smi);
  text-transform: capitalize;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.join-in-container {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  position: absolute;
  height: calc(100% - 0.01px);
  top: 0;
  bottom: 0.01px;
  left: 0;
  border-radius: var(--br-6xs) 0 0 var(--br-6xs);
  width: 77px;
}
.rectangle-parent194 {
  position: absolute;
  right: 0;
  bottom: 6.6px;
  width: 215px;
  height: 46.4px;
}
.group-child522 {
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-powderblue-100);
  border: 1px solid var(--color-steelblue-100);
  box-sizing: border-box;
  width: 319.98px;
}
.group-child522,
.group-child523,
.group-child524 {
  position: absolute;
  top: 0;
  height: 58px;
}
.group-child523 {
  left: 50.87px;
  background-color: var(--color-skyblue);
  box-shadow: 0 9px 6px rgba(0, 0, 0, 0.16) inset;
  width: 54.97px;
}
.group-child524 {
  left: 0;
  border-radius: var(--br-6xs) 0 0 var(--br-6xs);
  background-color: var(--color-white);
  width: 50.87px;
  opacity: 0;
}
.fast2 {
  position: absolute;
  top: 20px;
  left: 13.95px;
  font-size: var(--font-size-xs);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.group-child525,
.rectangle-parent196 {
  position: absolute;
  top: 0;
  left: 0;
  height: 58px;
}
.rectangle-parent196 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 50.87px;
}
.group-child525 {
  background-color: var(--color-white);
  width: 53.33px;
  opacity: 0;
}
.div543 {
  position: absolute;
  top: 20px;
  left: 14.77px;
  font-size: var(--font-size-smi);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.rectangle-parent197 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 51.69px;
  width: 53.33px;
  height: 58px;
}
.div544 {
  position: absolute;
  top: 20px;
  left: 11.49px;
  font-size: var(--font-size-smi);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.rectangle-parent198 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 105.84px;
  width: 53.33px;
  height: 58px;
}
.group-child527 {
  position: absolute;
  top: 11.5px;
  left: 158.58px;
  border-right: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 2px;
  height: 33px;
}
.div545 {
  position: absolute;
  top: 20px;
  left: 12.31px;
  font-size: var(--font-size-smi);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.rectangle-parent199 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 159.17px;
  width: 53.33px;
  height: 58px;
}
.group-child529 {
  position: absolute;
  top: 11.5px;
  left: 211.91px;
  border-right: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 2px;
  height: 33px;
}
.rectangle-parent200 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 212.5px;
  width: 53.33px;
  height: 58px;
}
.group-child531 {
  position: absolute;
  top: 11.5px;
  left: 265.24px;
  border-right: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 2px;
  height: 33px;
}
.rectangle-parent201 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1px;
  left: 266.65px;
  width: 53.33px;
  height: 58px;
}
.rectangle-parent195 {
  position: absolute;
  height: 81.97%;
  width: 29.35%;
  top: 18.03%;
  right: 70.65%;
  bottom: 0;
  left: 0;
}
.group-parent105 {
  position: absolute;
  bottom: 18px;
  left: 13.95px;
  width: 1090.05px;
  height: 71.97px;
  text-align: left;
}
.web-1920-12 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 787px;
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--color-dimgray);
  font-family: var(--font-roboto);
}
