.group-child720 {
  position: absolute;
  height: 91.09%;
  width: 100%;
  top: 8.91%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
}
.group-child721,
.group-child722 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-skyblue);
  width: 1115px;
  height: 70.16px;
}
.group-child722 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-6xs);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) inset;
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
}
.constant-color1 {
  position: absolute;
  top: 32.78%;
  left: 23.72%;
  font-size: var(--font-size-smi);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.rectangle-parent297 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 15px;
  left: 384px;
  width: 160.21px;
  height: 39.66px;
}
.group-child723 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
}
.current-color1 {
  position: absolute;
  top: 30.26%;
  left: 26.84%;
  font-size: var(--font-size-smi);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.rectangle-parent298 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 15px;
  left: 23px;
  width: 160.21px;
  height: 39.66px;
}
.all-colors1 {
  position: absolute;
  top: 30.26%;
  left: 33.71%;
  font-size: var(--font-size-smi);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.rectangle-parent299 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 15px;
  left: 205px;
  width: 160.21px;
  height: 39.66px;
}
.customize1 {
  position: absolute;
  top: 32.78%;
  left: 33.08%;
  font-size: var(--font-size-xs);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.rectangle-parent300 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 15px;
  left: 566px;
  width: 160.21px;
  height: 39.66px;
}
.rectangle-parent296 {
  position: absolute;
  height: 8.91%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 91.09%;
  left: 0;
}
.group-child726 {
  position: absolute;
  top: 28.72px;
  left: -1px;
  border-top: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1082.08px;
  height: 2px;
  opacity: 0.4;
}
.consecutive-period1,
.type-of-play1 {
  position: absolute;
  top: 0;
  left: 51.82px;
}
.consecutive-period1 {
  left: 237.04px;
  font-size: var(--font-size-smi);
}
.chasing-the-dragon1,
.cover-time1 {
  position: absolute;
  top: 0;
  left: 484.3px;
}
.chasing-the-dragon1 {
  left: 818.62px;
  font-size: var(--font-size-smi);
}
.line-group,
.zhanlong1 {
  position: absolute;
  top: 0;
  left: 979.75px;
}
.line-group {
  height: 3.78%;
  width: 96.96%;
  top: 10.34%;
  right: 1.46%;
  bottom: 85.89%;
  left: 1.58%;
}
.group-child727 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1080.74px;
  height: 549.07px;
}
.tencent-lottery10 {
  margin: 0;
}
.tencent-lottery-first-ball-container6 {
  position: absolute;
  top: 13px;
  left: 19.41px;
  line-height: 17px;
}
.issues-in-a-container6 {
  position: absolute;
  top: 21px;
  left: 237.04px;
  font-size: var(--font-size-smi);
}
.group-child728 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-whitesmoke-100);
  width: 92.61px;
  height: 28.47px;
}
.big29,
.div635 {
  position: absolute;
  top: 8px;
  left: 19.45px;
  font-size: var(--font-size-2xs);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: center;
}
.div635 {
  left: 48.16px;
  color: var(--color-skyblue);
}
.rectangle-parent302 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 14px;
  left: 826.02px;
  width: 92.61px;
  height: 28.47px;
}
.group-child729 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-whitesmoke-100);
  width: 93.53px;
  height: 28.47px;
}
.small29 {
  position: absolute;
  top: 7px;
  left: 12.04px;
  font-size: var(--font-size-xs);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: center;
}
.rectangle-parent303 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 14px;
  left: 957.53px;
  width: 93.53px;
  height: 28.47px;
}
.group-child730 {
  position: absolute;
  top: 74.92px;
  left: -1px;
  border-top: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1082.08px;
  height: 2px;
  opacity: 0.4;
}
.group-child731 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-whitesmoke-100);
  width: 162.99px;
  height: 56.94px;
}
.b6 {
  position: absolute;
  top: 17px;
  left: 41px;
  line-height: 18px;
}
.rectangle-parent304 {
  position: absolute;
  top: 0;
  left: 434.36px;
  width: 162.99px;
  height: 56.94px;
  font-size: var(--font-size-xl);
  color: var(--color-skyblue);
}
.tencent-lottery-first-ball-odd-parent4,
.tencent-lottery-first-ball-odd-parent5 {
  position: absolute;
  height: 14.08%;
  width: 100%;
  top: -0.05%;
  right: 0;
  bottom: 85.97%;
  left: 0;
}
.tencent-lottery-first-ball-odd-parent5 {
  top: 17.39%;
  bottom: 68.53%;
}
.tencent-lottery-first-ball-odd-parent6,
.tencent-lottery-first-ball-odd-parent7 {
  position: absolute;
  height: 14.08%;
  width: 100%;
  top: 34.82%;
  right: 0;
  bottom: 51.1%;
  left: 0;
}
.tencent-lottery-first-ball-odd-parent7 {
  top: 52.25%;
  bottom: 33.66%;
}
.tencent-lottery-first-ball-odd-parent8,
.tencent-lottery-first-ball-odd-parent9 {
  position: absolute;
  height: 14.08%;
  width: 100%;
  top: 69.69%;
  right: 0;
  bottom: 16.23%;
  left: 0;
}
.tencent-lottery-first-ball-odd-parent9 {
  top: 87.12%;
  bottom: -1.21%;
}
.repeat-grid-101 {
  position: absolute;
  top: 13.22px;
  left: 0.04px;
  width: 1081.08px;
  height: 539.15px;
}
.group-child752,
.rectangle-parent301 {
  position: absolute;
  height: 70.19%;
  width: 96.96%;
  top: 15.76%;
  right: 1.46%;
  bottom: 14.05%;
  left: 1.58%;
}
.group-child752 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-powderblue-100);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  opacity: 0.3;
}
.clear-selection3 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-smi);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.clear-selection-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: calc(50% - 6.72px);
  right: 63px;
  width: 84px;
  height: 15px;
}
.group-child753 {
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-powderblue-100);
  border: 1px solid var(--color-steelblue-100);
  box-sizing: border-box;
  width: 319.98px;
}
.group-child753,
.group-child754,
.group-child755 {
  position: absolute;
  top: 0;
  height: 52.17px;
}
.group-child754 {
  left: 50.87px;
  background-color: var(--color-skyblue);
  box-shadow: 0 9px 6px rgba(0, 0, 0, 0.16) inset;
  width: 54.97px;
}
.group-child755 {
  left: 0;
  border-radius: var(--br-6xs) 0 0 var(--br-6xs);
  background-color: var(--color-white);
  width: 50.87px;
  opacity: 0;
}
.fast6 {
  position: absolute;
  top: 17.99px;
  left: 13.95px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.group-child756,
.rectangle-parent322 {
  position: absolute;
  top: 0;
  left: 0;
  height: 52.17px;
}
.rectangle-parent322 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 50.87px;
}
.group-child756 {
  background-color: var(--color-white);
  width: 53.33px;
  opacity: 0;
}
.div647 {
  position: absolute;
  top: 17.99px;
  left: 14.77px;
  font-size: var(--font-size-2xs);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.rectangle-parent323 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 51.69px;
  width: 53.33px;
  height: 52.17px;
}
.div648 {
  position: absolute;
  top: 17.99px;
  left: 11.49px;
  font-size: var(--font-size-2xs);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.rectangle-parent324 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 105.84px;
  width: 53.33px;
  height: 52.17px;
}
.group-child758 {
  position: absolute;
  top: 10.24px;
  left: 158.58px;
  border-right: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 2px;
  height: 29.78px;
}
.div649 {
  position: absolute;
  top: 17.99px;
  left: 12.31px;
  font-size: var(--font-size-2xs);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.rectangle-parent325 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 159.17px;
  width: 53.33px;
  height: 52.17px;
}
.group-child760 {
  position: absolute;
  top: 10.24px;
  left: 211.91px;
  border-right: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 2px;
  height: 29.78px;
}
.rectangle-parent326 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 212.5px;
  width: 53.33px;
  height: 52.17px;
}
.group-child762 {
  position: absolute;
  top: 10.24px;
  left: 265.24px;
  border-right: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 2px;
  height: 29.78px;
}
.rectangle-parent327 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0.9px;
  left: 266.65px;
  width: 53.33px;
  height: 52.17px;
}
.but-line-child1,
.rectangle-parent321 {
  position: absolute;
  top: 0;
  left: 0;
  width: 319.98px;
  height: 53.07px;
}
.but-line-child1 {
  border: 0;
  background-color: transparent;
  top: 0.9px;
  left: 414.33px;
  width: 105.02px;
  height: 52.17px;
}
.balance3 {
  position: absolute;
  top: 0;
  left: 0;
}
.span6 {
  color: var(--color-red-200);
}
.rmb-00003 {
  position: absolute;
  top: 0;
  left: 53.33px;
}
.balance-parent1,
.group-child764 {
  position: absolute;
  top: 17.99px;
  left: 659.65px;
  width: 107.33px;
  height: 13px;
}
.group-child764 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-darkorange);
  opacity: 0.7;
}
.clear-selection4 {
  position: absolute;
  top: 36.49%;
  left: 24.97%;
  font-size: var(--font-size-smi);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.group-child765,
.rectangle-parent328 {
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 0;
}
.rectangle-parent328 {
  border: 0;
  background-color: transparent;
  top: 0.85px;
  width: 168.19px;
  height: 52.07px;
}
.group-child765 {
  border: 1px solid var(--color-steelblue-100);
  background-color: var(--color-whitesmoke-100);
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xs);
  box-sizing: border-box;
  opacity: 0.7;
}
.bet-now6 {
  position: absolute;
  top: 36.49%;
  left: 28.57%;
  opacity: 0.5;
}
.rectangle-parent329 {
  position: absolute;
  top: 0.85px;
  left: 797.05px;
  width: 105.02px;
  height: 52.07px;
  font-size: var(--font-size-smi);
}
.but-line3 {
  position: absolute;
  height: 56.12%;
  width: 96.88%;
  top: 22.96%;
  right: 1.87%;
  bottom: 20.93%;
  left: 1.25%;
}
.rectangle-parent320 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  height: 94.56px;
  text-align: left;
  font-size: var(--font-size-2xs);
}
.rectangle-parent295 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1115px;
  height: 787px;
}
.web-1920-9 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 787px;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-dimgray);
  font-family: var(--font-roboto);
}
