.group-child533,
.group-child534 {
  position: absolute;
  left: 0;
  width: 1115px;
}
.group-child533 {
  top: 70.16px;
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  height: 716.84px;
}
.group-child534 {
  top: 0;
  background-color: var(--color-skyblue);
  height: 70.16px;
}
.group-child535,
.path-15-icon {
  position: absolute;
  top: 648.49px;
  left: 0;
  width: 1115px;
  height: 138.51px;
  opacity: 0.3;
}
.group-child535 {
  top: 110.08px;
  left: 16.64px;
  border-top: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1082.36px;
  height: 2px;
  opacity: 0.4;
}
.how-to-play6 {
  position: absolute;
  top: 5px;
  left: 38.2px;
  font-size: var(--font-size-smi);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: center;
}
.how-to-play-container,
.icon-awesome-question-circle2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 22.1px;
  height: 24.23px;
}
.how-to-play-container {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 78px;
  left: 18.97px;
  width: 110.2px;
}
.group-child536 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 254.34px;
  height: 230.25px;
}
.thousands-of-dragons {
  position: absolute;
  top: 12.59px;
  left: 31.18px;
}
.div548,
.dragon31 {
  position: absolute;
  top: 8.99px;
  left: 0;
}
.div548 {
  left: 59.07px;
  color: var(--color-skyblue);
}
.group-child537 {
  border: 1px solid var(--color-dimgray);
  background-color: var(--color-white);
  position: absolute;
  top: 0;
  left: 121.43px;
  border-radius: var(--br-6xs);
  box-sizing: border-box;
  width: 91.07px;
  height: 34.18px;
}
.dragon-parent29 {
  position: absolute;
  top: 60.26px;
  left: 16.41px;
  width: 212.5px;
  height: 34.18px;
}
.and31,
.div549 {
  position: absolute;
  top: 8.99px;
  left: 59.07px;
}
.and31 {
  left: 0;
  color: var(--color-dimgray);
}
.rectangle-button {
  cursor: pointer;
  border: 1px solid var(--color-dimgray);
  padding: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 0;
  left: 121.43px;
  border-radius: var(--br-6xs);
  box-sizing: border-box;
  width: 91.07px;
  height: 34.18px;
}
.parent65,
.parent66 {
  position: absolute;
  top: 117.83px;
  left: 16.41px;
  width: 212.5px;
  height: 34.18px;
  color: var(--color-skyblue);
}
.parent66 {
  top: 174.49px;
}
.rectangle-parent203,
.rectangle-parent204,
.rectangle-parent205,
.rectangle-parent206 {
  position: absolute;
  height: 46.68%;
  width: 23.41%;
  top: 0;
  right: 76.59%;
  bottom: 53.32%;
  left: 0;
}
.rectangle-parent204,
.rectangle-parent205,
.rectangle-parent206 {
  right: 51.27%;
  left: 25.32%;
}
.rectangle-parent205,
.rectangle-parent206 {
  right: 25.95%;
  left: 50.63%;
}
.rectangle-parent206 {
  right: 0.64%;
  left: 75.95%;
}
.rectangle-parent207,
.rectangle-parent208,
.rectangle-parent209,
.rectangle-parent210 {
  position: absolute;
  height: 46.68%;
  width: 23.41%;
  top: 50.89%;
  right: 76.59%;
  bottom: 2.43%;
  left: 0;
}
.rectangle-parent208,
.rectangle-parent209,
.rectangle-parent210 {
  right: 51.27%;
  left: 25.32%;
}
.rectangle-parent209,
.rectangle-parent210 {
  right: 25.95%;
  left: 50.63%;
}
.rectangle-parent210 {
  right: 0.64%;
  left: 75.95%;
}
.repeat-grid-11 {
  position: absolute;
  top: 139.12px;
  left: 17.23px;
  width: 1086.28px;
  height: 493.25px;
}
.group-child567,
.group-child568 {
  position: absolute;
  box-sizing: border-box;
}
.group-child567 {
  top: 168.54px;
  left: 16.64px;
  border-top: 1px solid var(--color-dimgray);
  width: 255.34px;
  height: 2px;
  opacity: 0.15;
}
.group-child568 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-skyblue);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) inset;
  border: 1px solid var(--color-dimgray);
}
.dragon-tiger3 {
  position: absolute;
  top: 32.78%;
  left: 27.46%;
  font-size: var(--font-size-smi);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.group-child569,
.rectangle-parent211 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.rectangle-parent211 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 160.21px;
}
.group-child569 {
  width: 100%;
  right: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
}
.double-sided2 {
  position: absolute;
  top: 30.26%;
  left: 26.22%;
  font-size: var(--font-size-smi);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.rectangle-parent212 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 80.11px);
  width: 160.21px;
}
.digital-disk2 {
  position: absolute;
  top: 32.78%;
  left: 31.21%;
  font-size: var(--font-size-xs);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.rectangle-parent213 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  width: 160.21px;
}
.group-child571,
.group-parent106 {
  position: absolute;
  top: 15px;
  left: 25px;
  width: 520.21px;
  height: 39.66px;
}
.group-child571 {
  border: 1px solid var(--color-steelblue-100);
  background-color: var(--color-powderblue-200);
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xs);
  box-sizing: border-box;
  opacity: 0.7;
}
.div572 {
  position: absolute;
  top: 34.49%;
  left: 39.99%;
}
.rectangle-parent214 {
  position: absolute;
  bottom: 6.61px;
  left: calc(50% - 130.97px);
  width: 105.02px;
  height: 46.39px;
}
.span3 {
  color: var(--color-red-200);
}
.balance-rmb-0000-container2 {
  position: absolute;
  top: 0;
  left: 71.17%;
  font-size: var(--font-size-3xs);
}
.group-child572 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-skyblue);
  border: 1px solid var(--color-steelblue-100);
  box-sizing: border-box;
}
.bet-now3 {
  position: absolute;
  top: 34.49%;
  left: 26.66%;
  font-size: var(--font-size-smi);
  text-transform: capitalize;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.rectangle-parent215 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  bottom: 6.61px;
  left: calc(50% + 37.03px);
  width: 105.02px;
  height: 46.39px;
}
.group-child573 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-darkorange);
  opacity: 0.7;
}
.chasing-number2 {
  position: absolute;
  top: 34.49%;
  left: 20.81%;
  font-size: var(--font-size-smi);
  text-transform: capitalize;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.rectangle-parent216 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  bottom: 6.61px;
  left: calc(50% + 152.03px);
  width: 168.19px;
  height: 46.39px;
}
.group-child574 {
  position: absolute;
  height: 99.97%;
  width: 99.6%;
  top: 0.03%;
  right: 0.23%;
  bottom: 0;
  left: 0.17%;
  border-radius: var(--br-6xs);
  background-color: var(--color-skyblue);
  border: 1px solid var(--color-steelblue-100);
  box-sizing: border-box;
}
.shopping-basket2 {
  position: absolute;
  top: 30.18%;
  left: 21.79%;
  font-size: var(--font-size-smi);
  text-transform: capitalize;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.icon-awesome-shopping-cart2 {
  position: absolute;
  height: 34.48%;
  width: 13.47%;
  top: 30.18%;
  right: 82.7%;
  bottom: 35.34%;
  left: 3.82%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.36;
}
.shopping-basket-container {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  position: absolute;
  height: calc(100% - 0.01px);
  top: 0;
  right: 0;
  bottom: 0.01px;
  border-radius: 0 var(--br-6xs) var(--br-6xs) 0;
  width: 137px;
}
.join-in2 {
  position: absolute;
  top: 30.18%;
  left: 28.19%;
  font-size: var(--font-size-smi);
  text-transform: capitalize;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.join-in-frame {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  position: absolute;
  height: calc(100% - 0.01px);
  top: 0;
  bottom: 0.01px;
  left: 0;
  border-radius: var(--br-6xs) 0 0 var(--br-6xs);
  width: 77px;
}
.rectangle-parent217 {
  position: absolute;
  right: 0;
  bottom: 6.6px;
  width: 215px;
  height: 46.4px;
}
.group-child575 {
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-powderblue-100);
  border: 1px solid var(--color-steelblue-100);
  box-sizing: border-box;
  width: 319.98px;
}
.group-child575,
.group-child576,
.group-child577 {
  position: absolute;
  top: 0;
  height: 58px;
}
.group-child576 {
  left: 50.87px;
  background-color: var(--color-skyblue);
  box-shadow: 0 9px 6px rgba(0, 0, 0, 0.16) inset;
  width: 54.97px;
}
.group-child577 {
  left: 0;
  border-radius: var(--br-6xs) 0 0 var(--br-6xs);
  background-color: var(--color-white);
  width: 50.87px;
  opacity: 0;
}
.fast3 {
  position: absolute;
  top: 20px;
  left: 13.95px;
  font-size: var(--font-size-xs);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.group-child578,
.rectangle-parent219 {
  position: absolute;
  top: 0;
  left: 0;
  height: 58px;
}
.rectangle-parent219 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 50.87px;
}
.group-child578 {
  background-color: var(--color-white);
  width: 53.33px;
  opacity: 0;
}
.div573 {
  position: absolute;
  top: 20px;
  left: 14.77px;
  font-size: var(--font-size-smi);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.rectangle-parent220 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 51.69px;
  width: 53.33px;
  height: 58px;
}
.div574 {
  position: absolute;
  top: 20px;
  left: 11.49px;
  font-size: var(--font-size-smi);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.rectangle-parent221 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 105.84px;
  width: 53.33px;
  height: 58px;
}
.group-child580 {
  position: absolute;
  top: 11.5px;
  left: 158.58px;
  border-right: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 2px;
  height: 33px;
}
.div575 {
  position: absolute;
  top: 20px;
  left: 12.31px;
  font-size: var(--font-size-smi);
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
}
.rectangle-parent222 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 159.17px;
  width: 53.33px;
  height: 58px;
}
.group-child582 {
  position: absolute;
  top: 11.5px;
  left: 211.91px;
  border-right: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 2px;
  height: 33px;
}
.rectangle-parent223 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 212.5px;
  width: 53.33px;
  height: 58px;
}
.group-child584 {
  position: absolute;
  top: 11.5px;
  left: 265.24px;
  border-right: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 2px;
  height: 33px;
}
.rectangle-parent224 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1px;
  left: 266.65px;
  width: 53.33px;
  height: 58px;
}
.rectangle-parent218 {
  position: absolute;
  height: 81.97%;
  width: 29.35%;
  top: 18.03%;
  right: 70.65%;
  bottom: 0;
  left: 0;
}
.group-parent107 {
  position: absolute;
  bottom: 18px;
  left: 13.95px;
  width: 1090.05px;
  height: 71.97px;
  text-align: left;
  font-size: var(--font-size-smi);
}
.rectangle-parent202 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1115px;
  height: 787px;
}
.web-1920-11 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 787px;
  text-align: center;
  font-size: var(--font-size-2xs);
  color: var(--color-dimgray);
  font-family: var(--font-roboto);
}
